
.ChangePassword{
    height: 100vh;
    width: 100%;
    background-color: rgb(13,24,46); 
    color: white;
}

.ChangePassword .container-fluid h2{
    font-size: 1.7rem;
    padding: 30px;
}

.ChangePassword .form-div{
    height: 80vh;
    background-color: rgb(10,21,39);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.ChangePassword .form-div button{
    font-size: 1.1rem;
    background-color: rgb(154, 25, 25);
    border: none;
    color:white;
    margin: 6px 0px 0px 0px;
    border-radius: 7px;   
}

.ChangePassword .form-div input{  
    padding: 20px;
    background-color: black ;
    margin: 8px;
    border: none;
    border-radius: 8px;
}

.ChangePassword .form-div label{
    font-size: 1.1rem;
}

.ChangePassword .form-div ::placeholder{
    font-size: 1rem;
    color: rgb(168, 165, 165);

}



