.MyNetwork{
    height: 100%;
    width: 100%;
    background-color: rgb(13,24,46);
    color: white;
}

.MyNetwork .container-fluid{
    height: auto;
    width: auto;
    background-color: rgb(10,21,39) !important;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.MyNetwork table{
    border-collapse: collapse;
    border: none;
    overflow-y: scroll;
}
.MyNetwork td{
    padding: 5px 30px 5px 30px;
    width: 100px;
    border: none !important;
}

.MyNetwork th{
    margin: 20px 0px 20px 0px;
}
.MyNetwork table tr{
    border-top: 1px solid white;
  }
.MyNetwork tr:first-child {
    border-top: none;
  }
  



